body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dotted-para{
  display: -webkit-box;
   -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.title {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.pagination li a {
  background: #191a1d !important;
  border: none;
  color: red;
}

::-webkit-scrollbar {
  width: 3px;
}
 
::-webkit-scrollbar-thumb {
  background: red; 
}
 
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
 
.filters button:focus{
 
  box-shadow: none !important;
}
.heading.filters {
  margin: 0 0 0 20px;
}

.red{
  background: #DE1002;
}

.wrapper {
  position: absolute;
  bottom: 25px;
}

 .detail-section{
  width: 100%;
  height: 60%; 
  }

.detail-section p{
  margin: 0 5px;
}

.r-border{
  border: 1px solid rgba(255,255,255,0.6);
  color: rgba(255,255,255,0.6);
  padding: 0px 8px;
}

.modal-content{
height: 100% !important;
}

.modal{
  position: relative;
}

.modal-btn{
  width: 3%;
  position: absolute;
  right: -20px;
  top: -20px;
  font-size: 19px;
  border-radius: 30px;
  background: red;
  border: none;
  color: white;
}

.ReactModal__Content{
  border: 1px solid rgb(0 0 0) !important;
  background: rgb(0 0 0) !important;
}

.ReactModal__Overlay {
  background-color: rgba(246, 246, 246, 0.23) !important;
  z-index: 9;
}


.trailer svg {
  font-size: 40px;
}

.detail-img-div img {
  border-radius: 20px;
}


.detail-main-div h2,.detail-main-div h4 ,.detail-main-div p{
  margin: 10px 5px;
}

.release-year-genre p {
  font-size: 13px;
}

.tagline-div p {
  font-family: monospace;
  font-size: 14px;
  color: #ffffffa8;
}













